In [1]:
import pandas as pd
#df = pd.read_csv('datasets/erroneuous_test_data_set.csv')
df = pd.read_csv('datasets/adult.csv')

In [6]:
df2 = df[:10]
print(df2)
df2.to_excel('datasets/synthetic_data_adult.xlsx')

   age         workclass  fnlwgt     education  educational-num  \
0   25           Private  226802          11th                7
1   38           Private   89814       HS-grad                9
2   28         Local-gov  336951    Assoc-acdm               12
3   44           Private  160323  Some-college               10
4   18                 ?  103497  Some-college               10
5   34           Private  198693          10th                6
6   29                 ?  227026       HS-grad                9
7   63  Self-emp-not-inc  104626   Prof-school               15
8   24           Private  369667  Some-college               10
9   55           Private  104996       7th-8th                4

       marital-status         occupation   relationship   race  gender  \
0       Never-married  Machine-op-inspct      Own-child  Black    Male
1  Married-civ-spouse    Farming-fishing        Husband  White    Male
2  Married-civ-spouse    Protective-serv        Husband  White    Male
3  Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
4       Never-married                  ?      Own-child  White  Female
5       Never-married      Other-service  Not-in-family  White    Male
6       Never-married                  ?      Unmarried  Black    Male
7  Married-civ-spouse     Prof-specialty        Husband  White    Male
8       Never-married      Other-service      Unmarried  White  Female
9  Married-civ-spouse       Craft-repair        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country income
0             0             0              40  United-States  <=50K
1             0             0              50  United-States  <=50K
2             0             0              40  United-States   >50K
3          7688             0              40  United-States   >50K
4             0             0              30  United-States  <=50K
5             0             0              30  United-States  <=50K
6             0             0              40  United-States  <=50K
7          3103             0              32  United-States   >50K
8             0             0              40  United-States  <=50K
9             0             0              10  United-States  <=50K

In [77]:
import pandas as pd
import numpy as np
import random
# suppose your existing dataframe is df
dataset = pd.read_csv('datasets/adult.csv') # replace with your file
df = dataset[:50].copy() # create a copy of the first 50 rows
df.drop(['educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'hours-per-week','capital-gain', 'capital-loss'], axis=1, inplace=True)


#generate missingness in 10% of data
amount_missing = int(0.1* len(df))
missing_positions = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
for row, col in random.sample(missing_positions, amount_missing):
    df.iat[row, col] = np.nan if random.random() > 0.5 else None

# Select a fraction of the 'age' column to be outliers
amount_outliers = int(0.1 * len(df))
# Select the indices of the rows to be made into outliers
outlier_indices = np.random.choice(df.index, amount_outliers, replace=False)
print(outlier_indices)
# Add a large number (e.g., 100) to the ages of these rows to create outliers
df.loc[outlier_indices, 'age'] = df.loc[outlier_indices, 'age'] + 100


#generate random variations in categorical string oclumns
for col in df.select_dtypes(include=[object]).columns:
    df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))

# Creating a column with mixed data types
df['mixed_data_types'] = pd.concat([pd.Series(np.random.choice([1, 2, 3], df.shape[0]//2)), pd.Series(np.random.choice(['MD1', 'MD2', 'MD3'], df.shape[0] - df.shape[0]//2))]).sample(frac=1).reset_index(drop=True)

# Adding special characters
random_col = random.choice(df.columns)
special_char_col = df[random_col].sample(frac=0.1, replace=True) # 10% of rows
special_char_col = special_char_col.apply(lambda x: random.choice(['@#$@', '###']) if isinstance(x, str) else x)
df.update(special_char_col)

# Creating conflicting labels
conflict_df = df.sample(frac=0.1, replace=True) # 10% of rows
conflict_df['income'] = conflict_df['income'].apply(lambda x: '<=50K' if x=='>50K' else '>50K')
df.update(conflict_df)

# Creating class imbalance
df['income'] = df['income'].apply(lambda x: x if random.random() > 0.8 else ('<=50K' if x=='>50K' else '>50K')) # 80-20 imbalance


#replace some rows for duplicates
to_replace = df.sample(frac=0.1).index
duplicate_rows_df = df.sample(n=len(to_replace), replace=True)
duplicate_rows_df.index = to_replace

# Replace the rows
df.loc[to_replace] = duplicate_rows_df

# Duplicate the column
random_col = random.choice(df.columns)
df['duplicate column'] = df[random_col]

# Creating a column with a single unique value (redundant column)
df['redundant_SV_column'] = 'this_is_the_same'


df = df.reset_index(drop=True)

[27 33 42 47 24]

In [78]:
print(df)
print(df.columns)
print(len(df))
df.to_excel('datasets/synthetic_test_dataset.xlsx', index=False)

      age             workclass  fnlwgt      education      gender  \
0    25.0               Private  226802           11th        Male
1    37.0               Private   60548        HS-grad      Female
2    28.0             Local-gov  336951     Assoc-acdm        Male
3    44.0               Private  160323   Some-college        Male
4    18.0                     ?  103497   Some-college      Female
5    34.0               Private  198693           10th    MaleVAR1
6    29.0                     ?  227026        HS-grad        Male
7    63.0      Self-emp-not-inc  104626    Prof-school    Malefive
8    24.0               Private  369667   Some-college      Female
9    55.0               Private  104996        7th-8th    Malevar2
10   65.0               Private  184454        HS-grad        Male
11   36.0           Federal-gov  212465      Bachelors        Male
12   26.0               Private   82091        HS-grad      Female
13   58.0                     ?  299831        HS-grad        Male
14   48.0                   NaN  279724        HS-grad        Male
15   43.0               Private  346189        Masters        Male
16   20.0             State-gov  444554   Some-college        Male
17   43.0               Private  128354    HS-gradfive      Female
18   25.0               Private  226802           11th        Male
19   40.0               Private   85019           None        Male
20   22.0               Private  236427        HS-grad        Male
21   34.0               Private  238588   Some-college  FemaleVAR1
22   72.0                     ?  132015        7th-8th      Female
23   25.0               Private  220931      Bachelors        Male
24  125.0               Private  205947      Bachelors        Male
25   45.0      Self-emp-not-inc  432824        HS-grad        Male
26   22.0               Private  236427        HS-grad        Male
27  123.0               Private  134446    HS-gradVAR1        Male
28   54.0               Private   99516        HS-grad        Male
29   32.0  Self-emp-not-incVAR1  109282   Some-college        Male
30   46.0             State-gov  106444  Some-college4        Male
31   56.0      Self-emp-not-inc  186651           11th      Female
32   24.0      Self-emp-not-inc  188274      Bachelors        Male
33  123.0             Local-gov  258120   Some-college        Male
34   26.0               Private   43311        HS-grad      Female
35    NaN                 ?five  191846        HS-grad        Male
36   36.0             Local-gov  403681      Bachelors        Male
37   22.0               Private  248446        5th-6th        Male
38    NaN                 ?five  191846        HS-grad        Male
39   20.0               Private  257509        HS-grad        Male
40   65.0               Private  136384        Masters        Male
41   44.0          Self-emp-inc  120277      Assoc-voc        Male
42  136.0               Private  465326        HS-grad        Male
43   29.0               Private  103634           11th    MaleVAR1
44   20.0             State-gov  138371   Some-college        Male
45   36.0           Federal-gov  212465      Bachelors        Male
46   39.0               Private  290208        7th-8th        Male
47  154.0               Private  186272   Some-college        Male
48   52.0               Private  201062           11th      Female
49   56.0          Self-emp-inc  131916        HS-grad      Female

   native-country income mixed_data_types duplicate column redundant_SV_column
0   United-States   >50K              MD2              MD2    this_is_the_same
1   United-States   >50K                1                1    this_is_the_same
2   United-States  <=50K                2                2    this_is_the_same
3   United-States  <=50K              MD3              MD3    this_is_the_same
4   United-States   >50K              MD1              MD1    this_is_the_same
5   United-States  <=50K              MD1              MD1    this_is_the_same
6   United-States  <=50K              MD1              MD1    this_is_the_same
7   United-States   >50K                2                2    this_is_the_same
8   United-States   >50K                3                3    this_is_the_same
9   United-States  <=50K              MD2              MD2    this_is_the_same
10            ###   >50K                3                3    this_is_the_same
11  United-States   >50K                3                3    this_is_the_same
12  United-States   >50K              MD1              MD1    this_is_the_same
13  United-States   >50K                1                1    this_is_the_same
14            ###  <=50K              MD1              MD1    this_is_the_same
15  United-States  <=50K                3                3    this_is_the_same
16  United-States   >50K                2                2    this_is_the_same
17  United-States   >50K              MD3              MD3    this_is_the_same
18  United-States   >50K              MD2              MD2    this_is_the_same
19              ?  <=50K                3                3    this_is_the_same
20  United-States   >50K              MD1              MD1    this_is_the_same
21  United-States   >50K              MD1              MD1    this_is_the_same
22  United-States   >50K              MD2              MD2    this_is_the_same
23           Peru   >50K              MD2              MD2    this_is_the_same
24  United-States   >50K                3                3    this_is_the_same
25  United-States  <=50K              MD1              MD1    this_is_the_same
26  United-States   >50K              MD1              MD1    this_is_the_same
27  United-States   >50K                1                1    this_is_the_same
28  United-States   None              MD1              MD1    this_is_the_same
29  United-States   >50K                1                1    this_is_the_same
30  United-States   >50K              MD3              MD3    this_is_the_same
31  United-States   >50K              MD1              MD1    this_is_the_same
32  United-States   >50K                1                1    this_is_the_same
33           @#$@  <=50K              MD2              MD2    this_is_the_same
34  United-States   >50K                2                2    this_is_the_same
35           @#$@  <=50K                3                3    this_is_the_same
36  United-States  <=50K                2                2    this_is_the_same
37      Guatemala   >50K              MD3              MD3    this_is_the_same
38           @#$@  <=50K                3                3    this_is_the_same
39  United-States  <=50K                2                2    this_is_the_same
40  United-States   >50K                2                2    this_is_the_same
41  United-States  <=50K                3                3    this_is_the_same
42  United-States   >50K              MD2              MD2    this_is_the_same
43  United-States   >50K                3                3    this_is_the_same
44  United-States   >50K                2                2    this_is_the_same
45  United-States   >50K                3                3    this_is_the_same
46         Mexico   >50K                3                3    this_is_the_same
47  United-States   >50K              MD1              MD1    this_is_the_same
48            ###   >50K              MD3              MD3    this_is_the_same
49  United-States   >50K              MD3              MD3    this_is_the_same
Index(['age', 'workclass', 'fnlwgt', 'education', 'gender', 'native-country',
       'income', 'mixed_data_types', 'duplicate column',
       'redundant_SV_column'],
      dtype='object')
50

In [57]:
import pandas as pd
import numpy as np
import random
# suppose your existing dataframe is df
dataset = pd.read_csv('datasets/adult.csv') # replace with your file
df = dataset[:50].copy() # create a copy of the first 50 rows
df_copy = df.copy() # create another copy to drop columns from
df_copy.drop(['educational-num', 'marital-status', 'occupation', 'relationship', 'race', 'hours-per-week','capital-gain', 'capital-loss'], axis=1, inplace=True)
print(df)

    age         workclass  fnlwgt     education  educational-num  \
0    25           Private  226802          11th                7
1    38           Private   89814       HS-grad                9
2    28         Local-gov  336951    Assoc-acdm               12
3    44           Private  160323  Some-college               10
4    18                 ?  103497  Some-college               10
5    34           Private  198693          10th                6
6    29                 ?  227026       HS-grad                9
7    63  Self-emp-not-inc  104626   Prof-school               15
8    24           Private  369667  Some-college               10
9    55           Private  104996       7th-8th                4
10   65           Private  184454       HS-grad                9
11   36       Federal-gov  212465     Bachelors               13
12   26           Private   82091       HS-grad                9
13   58                 ?  299831       HS-grad                9
14   48           Private  279724       HS-grad                9
15   43           Private  346189       Masters               14
16   20         State-gov  444554  Some-college               10
17   43           Private  128354       HS-grad                9
18   37           Private   60548       HS-grad                9
19   40           Private   85019     Doctorate               16
20   34           Private  107914     Bachelors               13
21   34           Private  238588  Some-college               10
22   72                 ?  132015       7th-8th                4
23   25           Private  220931     Bachelors               13
24   25           Private  205947     Bachelors               13
25   45  Self-emp-not-inc  432824       HS-grad                9
26   22           Private  236427       HS-grad                9
27   23           Private  134446       HS-grad                9
28   54           Private   99516       HS-grad                9
29   32  Self-emp-not-inc  109282  Some-college               10
30   46         State-gov  106444  Some-college               10
31   56  Self-emp-not-inc  186651          11th                7
32   24  Self-emp-not-inc  188274     Bachelors               13
33   23         Local-gov  258120  Some-college               10
34   26           Private   43311       HS-grad                9
35   65                 ?  191846       HS-grad                9
36   36         Local-gov  403681     Bachelors               13
37   22           Private  248446       5th-6th                3
38   17           Private  269430          10th                6
39   20           Private  257509       HS-grad                9
40   65           Private  136384       Masters               14
41   44      Self-emp-inc  120277     Assoc-voc               11
42   36           Private  465326       HS-grad                9
43   29           Private  103634          11th                7
44   20         State-gov  138371  Some-college               10
45   28           Private  242832     Assoc-voc               11
46   39           Private  290208       7th-8th                4
47   54           Private  186272  Some-college               10
48   52           Private  201062          11th                7
49   56      Self-emp-inc  131916       HS-grad                9

        marital-status         occupation   relationship                race  \
0        Never-married  Machine-op-inspct      Own-child               Black
1   Married-civ-spouse    Farming-fishing        Husband               White
2   Married-civ-spouse    Protective-serv        Husband               White
3   Married-civ-spouse  Machine-op-inspct        Husband               Black
4        Never-married                  ?      Own-child               White
5        Never-married      Other-service  Not-in-family               White
6        Never-married                  ?      Unmarried               Black
7   Married-civ-spouse     Prof-specialty        Husband               White
8        Never-married      Other-service      Unmarried               White
9   Married-civ-spouse       Craft-repair        Husband               White
10  Married-civ-spouse  Machine-op-inspct        Husband               White
11  Married-civ-spouse       Adm-clerical        Husband               White
12       Never-married       Adm-clerical  Not-in-family               White
13  Married-civ-spouse                  ?        Husband               White
14  Married-civ-spouse  Machine-op-inspct        Husband               White
15  Married-civ-spouse    Exec-managerial        Husband               White
16       Never-married      Other-service      Own-child               White
17  Married-civ-spouse       Adm-clerical           Wife               White
18             Widowed  Machine-op-inspct      Unmarried               White
19  Married-civ-spouse     Prof-specialty        Husband  Asian-Pac-Islander
20  Married-civ-spouse       Tech-support        Husband               White
21       Never-married      Other-service      Own-child               Black
22            Divorced                  ?  Not-in-family               White
23       Never-married     Prof-specialty  Not-in-family               White
24  Married-civ-spouse     Prof-specialty        Husband               White
25  Married-civ-spouse       Craft-repair        Husband               White
26       Never-married       Adm-clerical      Own-child               White
27           Separated  Machine-op-inspct      Unmarried               Black
28  Married-civ-spouse       Craft-repair        Husband               White
29       Never-married     Prof-specialty  Not-in-family               White
30  Married-civ-spouse    Exec-managerial        Husband               Black
31             Widowed      Other-service      Unmarried               White
32       Never-married              Sales  Not-in-family               White
33  Married-civ-spouse    Protective-serv        Husband               White
34            Divorced    Exec-managerial      Unmarried               White
35  Married-civ-spouse                  ?        Husband               White
36  Married-civ-spouse     Prof-specialty        Husband               White
37       Never-married    Priv-house-serv  Not-in-family               White
38       Never-married  Machine-op-inspct  Not-in-family               White
39       Never-married       Craft-repair      Own-child               White
40  Married-civ-spouse     Prof-specialty        Husband               White
41  Married-civ-spouse              Sales        Husband               White
42  Married-civ-spouse    Farming-fishing        Husband               White
43  Married-civ-spouse      Other-service        Husband               White
44       Never-married    Farming-fishing      Own-child               White
45  Married-civ-spouse     Prof-specialty           Wife               White
46  Married-civ-spouse       Craft-repair        Husband               White
47  Married-civ-spouse   Transport-moving        Husband               White
48           Separated    Priv-house-serv  Not-in-family               Black
49             Widowed    Exec-managerial  Not-in-family               White

    gender  capital-gain  capital-loss  hours-per-week native-country income
0     Male             0             0              40  United-States  <=50K
1     Male             0             0              50  United-States  <=50K
2     Male             0             0              40  United-States   >50K
3     Male          7688             0              40  United-States   >50K
4   Female             0             0              30  United-States  <=50K
5     Male             0             0              30  United-States  <=50K
6     Male             0             0              40  United-States  <=50K
7     Male          3103             0              32  United-States   >50K
8   Female             0             0              40  United-States  <=50K
9     Male             0             0              10  United-States  <=50K
10    Male          6418             0              40  United-States   >50K
11    Male             0             0              40  United-States  <=50K
12  Female             0             0              39  United-States  <=50K
13    Male             0             0              35  United-States  <=50K
14    Male          3103             0              48  United-States   >50K
15    Male             0             0              50  United-States   >50K
16    Male             0             0              25  United-States  <=50K
17  Female             0             0              30  United-States  <=50K
18  Female             0             0              20  United-States  <=50K
19    Male             0             0              45              ?   >50K
20    Male             0             0              47  United-States   >50K
21  Female             0             0              35  United-States  <=50K
22  Female             0             0               6  United-States  <=50K
23    Male             0             0              43           Peru  <=50K
24    Male             0             0              40  United-States  <=50K
25    Male          7298             0              90  United-States   >50K
26    Male             0             0              20  United-States  <=50K
27    Male             0             0              54  United-States  <=50K
28    Male             0             0              35  United-States  <=50K
29    Male             0             0              60  United-States  <=50K
30    Male          7688             0              38  United-States   >50K
31  Female             0             0              50  United-States  <=50K
32    Male             0             0              50  United-States  <=50K
33    Male             0             0              40  United-States  <=50K
34  Female             0             0              40  United-States  <=50K
35    Male             0             0              40  United-States  <=50K
36    Male             0             0              40  United-States   >50K
37    Male             0             0              50      Guatemala  <=50K
38    Male             0             0              40  United-States  <=50K
39    Male             0             0              40  United-States  <=50K
40    Male             0             0              50  United-States   >50K
41    Male             0             0              45  United-States   >50K
42    Male             0             0              40  United-States  <=50K
43    Male             0             0              40  United-States  <=50K
44    Male             0             0              32  United-States  <=50K
45  Female             0             0              36  United-States   >50K
46    Male             0             0              40         Mexico  <=50K
47    Male          3908             0              50  United-States  <=50K
48  Female             0             0              18  United-States  <=50K
49  Female             0             0              50  United-States  <=50K