In [1]:
import pandas as pd
#df = pd.read_csv('datasets/erroneuous_test_data_set.csv')
df = pd.read_csv('datasets/adult.csv')

In [6]:
df2 = df[:10]
print(df2)
df2.to_excel('datasets/synthetic_data_adult.xlsx')

   age         workclass  fnlwgt     education  educational-num  \
0   25           Private  226802          11th                7
1   38           Private   89814       HS-grad                9
2   28         Local-gov  336951    Assoc-acdm               12
3   44           Private  160323  Some-college               10
4   18                 ?  103497  Some-college               10
5   34           Private  198693          10th                6
6   29                 ?  227026       HS-grad                9
7   63  Self-emp-not-inc  104626   Prof-school               15
8   24           Private  369667  Some-college               10
9   55           Private  104996       7th-8th                4

       marital-status         occupation   relationship   race  gender  \
0       Never-married  Machine-op-inspct      Own-child  Black    Male
1  Married-civ-spouse    Farming-fishing        Husband  White    Male
2  Married-civ-spouse    Protective-serv        Husband  White    Male
3  Married-civ-spouse  Machine-op-inspct        Husband  Black    Male
4       Never-married                  ?      Own-child  White  Female
5       Never-married      Other-service  Not-in-family  White    Male
6       Never-married                  ?      Unmarried  Black    Male
7  Married-civ-spouse     Prof-specialty        Husband  White    Male
8       Never-married      Other-service      Unmarried  White  Female
9  Married-civ-spouse       Craft-repair        Husband  White    Male

   capital-gain  capital-loss  hours-per-week native-country income
0             0             0              40  United-States  <=50K
1             0             0              50  United-States  <=50K
2             0             0              40  United-States   >50K
3          7688             0              40  United-States   >50K
4             0             0              30  United-States  <=50K
5             0             0              30  United-States  <=50K
6             0             0              40  United-States  <=50K
7          3103             0              32  United-States   >50K
8             0             0              40  United-States  <=50K
9             0             0              10  United-States  <=50K

In [46]:
import pandas as pd
import numpy as np
import random
# suppose your existing dataframe is df
dataset = pd.read_csv('datasets/adult.csv')# replace with your file
df = dataset[:50]


#generate missingness in 10% of data
num_missing = int(0.1* len(df))
missing_positions = [(row, col) for row in range(df.shape[0]) for col in range(df.shape[1])]
for row, col in random.sample(missing_positions, num_missing):
    df.iat[row, col] = np.nan if random.random() > 0.5 else None

#generate random variations in categorical string oclumns
for col in df.select_dtypes(include=[object]).columns:
    df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))

# Creating a column with mixed data types
df['mixed_data_types'] = pd.concat([pd.Series(np.random.choice([1, 2, 3], df.shape[0]//2)), pd.Series(np.random.choice(['MD1', 'MD2', 'MD3'], df.shape[0] - df.shape[0]//2))]).sample(frac=1).reset_index(drop=True)

# Adding special characters
random_col = random.choice(df.columns)
special_char_col = df[random_col].sample(frac=0.1, replace=True) # 10% of rows
special_char_col = special_char_col.apply(lambda x: random.choice(['@#$@', '###']) if isinstance(x, str) else x)
df.update(special_char_col)

# Creating conflicting labels
conflict_df = df.sample(frac=0.1, replace=True) # 10% of rows
conflict_df['income'] = conflict_df['income'].apply(lambda x: '<=50K' if x=='>50K' else '>50K')
df.update(conflict_df)

# Creating class imbalance
df['income'] = df['income'].apply(lambda x: x if random.random() > 0.8 else ('<=50K' if x=='>50K' else '>50K')) # 80-20 imbalance


#replace some rows for duplicates
to_replace = df.sample(frac=0.1).index
duplicate_rows_df = df.sample(n=len(to_replace), replace=True)
duplicate_rows_df.index = to_replace

# Replace the rows
df.loc[to_replace] = duplicate_rows_df

# Duplicate the column
random_col = random.choice(df.columns)
df[random_col + '2'] = df[random_col]

# Creating a column with a single unique value (redundant column)
df['redundant_SV_column'] = 'this_is_the_same'


df = df.reset_index(drop=True)

C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[col] = df[col].apply(lambda x: x if (random.random() > 0.05 or pd.isnull(x)) else x + random.choice(['VAR1', 'var2', 'V@R3', '4','five',]))
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['mixed_data_types'] = pd.concat([pd.Series(np.random.choice([1, 2, 3], df.shape[0]//2)), pd.Series(np.random.choice(['MD1', 'MD2', 'MD3'], df.shape[0] - df.shape[0]//2))]).sample(frac=1).reset_index(drop=True)
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:34: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['income'] = df['income'].apply(lambda x: x if random.random() > 0.8 else ('<=50K' if x=='>50K' else '>50K')) # 80-20 imbalance
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:47: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df[random_col + '2'] = df[random_col]
C:\Users\robin\AppData\Local\Temp\ipykernel_3432\142255163.py:50: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['redundant_SV_column'] = 'this_is_the_same'

In [47]:
print(df)
print(len(df))
df.to_excel('datasets/synthetic_test_dataset.xlsx')

    age         workclass    fnlwgt         education  educational-num  \
0    25           Private  226802.0              11th                7
1    38           Private   89814.0           HS-grad                9
2    28         Local-gov  336951.0        Assoc-acdm               12
3    44           Private  160323.0      Some-college               10
4    18                 ?  103497.0      Some-college               10
5    34           Private  198693.0              10th                6
6    29                 ?  227026.0           HS-grad                9
7    63  Self-emp-not-inc  104626.0       Prof-school               15
8    24           Private  369667.0      Some-college               10
9    55           Private  104996.0           7th-8th                4
10   65           Private  184454.0           HS-grad                9
11   36       Federal-gov  212465.0         Bachelors               13
12   26           Private       NaN           HS-grad                9
13   58             ?five  299831.0           HS-grad                9
14   48           Private  279724.0           HS-grad                9
15   29                 ?  227026.0           HS-grad                9
16   20     State-govvar2       NaN      Some-college               10
17   43           Private  128354.0           HS-grad                9
18   37           Private   60548.0           HS-grad                9
19   40           Private   85019.0         Doctorate               16
20   34           Private  107914.0         Bachelors               13
21   26           Private       NaN           HS-grad                9
22   25           Private  226802.0              11th                7
23   25           Private  220931.0     BachelorsV@R3               13
24   25           Private  205947.0         Bachelors               13
25   45  Self-emp-not-inc  432824.0          HS-grad4                9
26   22           Private  236427.0           HS-grad                9
27   23          Private4  134446.0           HS-grad                9
28   40           Private   85019.0         Doctorate               16
29   32  Self-emp-not-inc  109282.0      Some-college               10
30   46         State-gov  106444.0      Some-college               10
31   56  Self-emp-not-inc  186651.0              11th                7
32   24  Self-emp-not-inc  188274.0         Bachelors               13
33   23         Local-gov  258120.0      Some-college               10
34   26           Private   43311.0           HS-grad                9
35   65                 ?  191846.0           HS-grad                9
36   36         Local-gov  403681.0         Bachelors               13
37   22           Private  248446.0           5th-6th                3
38   17           Private  269430.0              10th                6
39   20           Private  257509.0           HS-grad                9
40   65           Private  136384.0              None               14
41   44      Self-emp-inc  120277.0         Assoc-voc               11
42   36           Private  465326.0           HS-grad                9
43   29           Private  103634.0              11th                7
44   20     State-govfive  138371.0  Some-collegeV@R3               10
45   28           Private  242832.0         Assoc-voc               11
46   39           Private  290208.0           7th-8th                4
47   20     State-govfive  138371.0  Some-collegeV@R3               10
48   52           Private  201062.0              11th                7
49   56      Self-emp-inc  131916.0           HS-grad                9

            marital-status         occupation   relationship  \
0            Never-married  Machine-op-inspct      Own-child
1                     @#$@    Farming-fishing        Husband
2       Married-civ-spouse    Protective-serv       Husband4
3       Married-civ-spouse  Machine-op-inspct        Husband
4            Never-married                  ?      Own-child
5            Never-married      Other-service  Not-in-family
6            Never-married                  ?      Unmarried
7       Married-civ-spouse    Prof-specialty4        Husband
8            Never-married      Other-service      Unmarried
9       Married-civ-spouse       Craft-repair        Husband
10      Married-civ-spouse  Machine-op-inspct            NaN
11                    @#$@       Adm-clerical        Husband
12           Never-married       Adm-clerical  Not-in-family
13                    @#$@                  ?        Husband
14      Married-civ-spouse  Machine-op-inspct        Husband
15           Never-married                  ?      Unmarried
16           Never-married      Other-service      Own-child
17      Married-civ-spouse       Adm-clerical           Wife
18             Widowedfive  Machine-op-inspct      Unmarried
19  Married-civ-spousevar2     Prof-specialty        Husband
20      Married-civ-spouse       Tech-support        Husband
21           Never-married       Adm-clerical  Not-in-family
22           Never-married  Machine-op-inspct      Own-child
23           Never-married     Prof-specialty  Not-in-family
24      Married-civ-spouse     Prof-specialty        Husband
25                    @#$@       Craft-repair        Husband
26           Never-married       Adm-clerical      Own-child
27               Separated  Machine-op-inspct      Unmarried
28  Married-civ-spousevar2     Prof-specialty        Husband
29           Never-married     Prof-specialty  Not-in-family
30      Married-civ-spouse    Exec-managerial        Husband
31                 Widowed  Other-serviceV@R3      Unmarried
32           Never-married              Sales  Not-in-family
33      Married-civ-spouse    Protective-serv        Husband
34                Divorced    Exec-managerial      Unmarried
35      Married-civ-spouse                  ?        Husband
36      Married-civ-spouse     Prof-specialty        Husband
37           Never-married    Priv-house-serv  Not-in-family
38           Never-married  Machine-op-inspct  Not-in-family
39           Never-married       Craft-repair      Own-child
40      Married-civ-spouse     Prof-specialty        Husband
41      Married-civ-spouse              Sales        Husband
42                     ###    Farming-fishing        Husband
43      Married-civ-spouse      Other-service        Husband
44           Never-married    Farming-fishing      Own-child
45      Married-civ-spouse     Prof-specialty           Wife
46      Married-civ-spouse       Craft-repair        Husband
47           Never-married    Farming-fishing      Own-child
48               Separated    Priv-house-serv  Not-in-family
49                 Widowed    Exec-managerial  Not-in-family

                  race  gender  capital-gain  capital-loss  hours-per-week  \
0                Black    Male             0             0              40
1                White    Male             0             0              50
2               White4    Male             0             0              40
3                Black    Male          7688             0              40
4                White  Female             0             0              30
5                White    Male             0             0              30
6                Black   Male4             0             0              40
7                White    Male          3103             0              32
8                White  Female             0             0              40
9                White    Male             0             0              10
10               White    Male          6418             0              40
11               White    Male             0             0              40
12               White  Female             0             0              39
13               White    Male             0             0              35
14               White    Male          3103             0              48
15               Black   Male4             0             0              40
16               White    Male             0             0              25
17               White  Female             0             0              30
18               White  Female             0             0              20
19  Asian-Pac-Islander    Male             0             0              45
20               White    Male             0             0              47
21               White  Female             0             0              39
22               Black    Male             0             0              40
23               White    Male             0             0              43
24               White    Male             0             0              40
25               White    Male          7298             0              90
26               White    Male             0             0              20
27               Black    Male             0             0              54
28  Asian-Pac-Islander    Male             0             0              45
29               White    Male             0             0              60
30               Black    Male          7688             0              38
31               White  Female             0             0              50
32               White    Male             0             0              50
33               White    Male             0             0              40
34               White  Female             0             0              40
35               White    Male             0             0              40
36               White    Male             0             0              40
37               White    Male             0             0              50
38               White    Male             0             0              40
39               White    Male             0             0              40
40               White    Male             0             0              50
41               White    Male             0             0              45
42               White    Male             0             0              40
43               White    Male             0             0              40
44               White    Male             0             0              32
45               White  Female             0             0              36
46               White    Male             0             0              40
47               White    Male             0             0              32
48               Black  Female             0             0              18
49               White  Female             0             0              50

       native-country income mixed_data_types         marital-status2  \
0       United-States   >50K              MD1           Never-married
1       United-States   >50K                3                    @#$@
2       United-States  <=50K                3      Married-civ-spouse
3       United-States  <=50K              MD2      Married-civ-spouse
4       United-States   >50K                3           Never-married
5       United-States  <=50K                3           Never-married
6       United-States   >50K                2           Never-married
7       United-States   >50K              MD2      Married-civ-spouse
8       United-States   >50K                1           Never-married
9   United-Statesvar2   >50K                2      Married-civ-spouse
10      United-States   >50K              MD2      Married-civ-spouse
11      United-States   >50K              MD1                    @#$@
12      United-States   >50K                3           Never-married
13      United-States   >50K              MD3                    @#$@
14      United-States  <=50K                1      Married-civ-spouse
15      United-States   >50K                2           Never-married
16      United-States   >50K              MD1           Never-married
17      United-States   >50K              MD1      Married-civ-spouse
18      United-States   >50K              MD2             Widowedfive
19                  ?   >50K                2  Married-civ-spousevar2
20      United-States  <=50K              MD3      Married-civ-spouse
21      United-States   >50K                3           Never-married
22      United-States   >50K              MD1           Never-married
23               Peru  <=50K              MD2           Never-married
24      United-States   >50K                2      Married-civ-spouse
25  United-StatesV@R3   >50K              MD3                    @#$@
26      United-States   >50K                1           Never-married
27      United-States   >50K                3               Separated
28                  ?   >50K                2  Married-civ-spousevar2
29      United-States   >50K              MD3           Never-married
30      United-States  <=50K              MD3      Married-civ-spouse
31      United-States   >50K                1                 Widowed
32      United-States   >50K              MD3           Never-married
33      United-States   >50K                2      Married-civ-spouse
34      United-States   >50K              MD2                Divorced
35      United-States   >50K              MD2      Married-civ-spouse
36      United-States  <=50K              MD1      Married-civ-spouse
37          Guatemala   >50K              MD1           Never-married
38      United-States   >50K              MD3           Never-married
39  United-StatesVAR1  <=50K                2           Never-married
40      United-States   >50K                3      Married-civ-spouse
41      United-States   >50K              MD3      Married-civ-spouse
42      United-States  <=50K              MD3                     ###
43      United-States  <=50K                3      Married-civ-spouse
44      United-States   >50K              MD3           Never-married
45      United-States  <=50K                1      Married-civ-spouse
46             Mexico  <=50K              MD1      Married-civ-spouse
47      United-States   >50K              MD3           Never-married
48      United-States   >50K                3               Separated
49      United-States   >50K                2                 Widowed

   redundant_SV_column
0     this_is_the_same
1     this_is_the_same
2     this_is_the_same
3     this_is_the_same
4     this_is_the_same
5     this_is_the_same
6     this_is_the_same
7     this_is_the_same
8     this_is_the_same
9     this_is_the_same
10    this_is_the_same
11    this_is_the_same
12    this_is_the_same
13    this_is_the_same
14    this_is_the_same
15    this_is_the_same
16    this_is_the_same
17    this_is_the_same
18    this_is_the_same
19    this_is_the_same
20    this_is_the_same
21    this_is_the_same
22    this_is_the_same
23    this_is_the_same
24    this_is_the_same
25    this_is_the_same
26    this_is_the_same
27    this_is_the_same
28    this_is_the_same
29    this_is_the_same
30    this_is_the_same
31    this_is_the_same
32    this_is_the_same
33    this_is_the_same
34    this_is_the_same
35    this_is_the_same
36    this_is_the_same
37    this_is_the_same
38    this_is_the_same
39    this_is_the_same
40    this_is_the_same
41    this_is_the_same
42    this_is_the_same
43    this_is_the_same
44    this_is_the_same
45    this_is_the_same
46    this_is_the_same
47    this_is_the_same
48    this_is_the_same
49    this_is_the_same
50